.expandImg {
	margin-bottom: 5px;
	cursor: pointer;
	float: left;
	clear: both;
}

.resizableImg {
	max-width: 33%;
	min-width: 1%;
	display: none;
    float: left;
    clear: both;
}

#content {
	width: calc(100% - 17px) !important;
}